[submodule "oss_caea/models/backbones/third_party/PromptDA"]
	path = oss_caea/models/backbones/third_party/PromptDA
	url = https://github.com/DepthAnything/PromptDA.git
[submodule "oss_caea/models/backbones/third_party/Depth-Anything-V2"]
	path = oss_caea/models/backbones/third_party/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
